<div class="fullcontent-about">
    <%- include("./partials/header") %>
<%- include("./partials/nav") %>
<div class=" w-100">
    <div class="row">
            <!-- left side content -->
        <div class=" " >
            <h1 class="text-light">about</h1>
               <div class="about-me">
                   <div class="text-light">
                    <p>Is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, of type and scrambled it to make a type specimen book. But also the leap into electronic typesetting, remaining essentially unchanged.</p>
                    <p class="text-light">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                </div>
                   <div class="Synopsis-highlightLine five" style="transform: matrix(1, 0, 0, 1, 0, 0);"></div>
                   <div class="animated fadeIn three">
                    <p class="text-light">Cinnamon eu so, cultivar sweet crema java blue mountain iced cappuccino acerbic flavour. Con panna, dark coffee coffee crema cortado, carajillo sugar wings robust coffee. Spoon, iced organic, medium, acerbic dripper pumpkin spice robust black single origin. Qui americano coffee milk lungo crema dripper. Grinder plunger pot est percolator medium shop latte foam crema café au lait wings.</p>
                </div>
                <div class="Synopsis-highlightLine five" style=" transform: matrix(1, 0, 0, 1, 0, 0);"></div>
                <div class="text-light">
                    <p>Is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, of type and scrambled it to make a type specimen book. But also the leap into electronic typesetting, remaining essentially unchanged.</p>
                    <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                    <p>Is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, of type and scrambled it to make a type specimen book. But also the leap into electronic typesetting, remaining essentially unchanged.</p>
                    <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                    <p>Is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, of type and scrambled it to make a type specimen book. But also the leap into electronic typesetting, remaining essentially unchanged.</p>
                    <p>It has survived not only five centuries, but also the leap into electronic.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include("./partials/footer") %>
</div>