<div class="fullcontent-create">
  <%- include("./partials/header") %>
  
  
  <%- include("./partials/nav") %>
  
  <div class="w-100  py-5">
    <form class="w-25" style="margin: 0 50% 0 38%;" action="/create" method="post">
        <div class="mb-3 ">
          <label  class="form-label text-light">Book name</label>
          <input name="name" type="text" class="form-control" >
         
        </div>
        <div class="mb-3">
          <label  class="form-label text-light">Author name</label>
          <input name="author" type="text" class="form-control" >
        </div>
        <div class="mb-3">
          <label  class="form-label text-light">Price</label>
          <input name="price" type="number" class="form-control" >
        </div>
        <div class="mb-3">
          <label  class="form-label text-light">Quantity</label>
          <input name="quantity" type="number" class="form-control" >
        </div>
        <div class="mb-3">
          <label  class="form-label text-light">Category</label>
          <input name="category" type="text" class="form-control" >
        </div>
        <div class="mb-3">
          <label  class="form-label text-light">Language</label>
          <input name="language" type="text" class="form-control" >
        </div>
        <div class="mb-3">
          <label  class="form-label text-light">Description</label>
          <textarea name="description" class="form-control" id="" cols="30" placeholder="enter text here" rows="7"></textarea>
        </div>
        
        <button type="submit" class="btn btn-primary">Add Book</button>
      </form>
      
</div>

<%- include("./partials/footer") %>
</div>