<%- include("./partials/header") %>
<div class="fullcontent">
    <div class="headings">
        <%- include("./partials/nav") %>
        
        <h1 class="text-center ">Home page</h1>
        <h1 class="text-center text-light">My Book Store</h1>
        <div class="" style="width: 100%;">
            <h2 class="p-5 text-center w-50" style="margin: 0 25% 0 25%;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem minima libero, quisquam voluptates reprehenderit quia! Sit vel vero officiis doloribus?Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat ea nisi facere earum optio eos dolorum ipsam, quae nemo incidunt!</h2>
        </div>
    </div>
   
</div>


<%- include("./partials/footer") %>
