<%- include("./partials/header") %>

<div class="fullcontent">
    <div class="headings">
        <h1>Sign up </h1>
        <h1>As a new user to access the library</h1>
    </div>
    <div class="formbox">
        <form id="form" action="" method="post">
            <label for="">Username</label>
            <input type="text" name="username" class="asd"/>
            <label for="">Password</label>
            <input type="password" id="" name="password" class="asd"/>
            <label for="">Email</label>
            <input type="email" id="" name="email" class="asd"/>
            <label for="">firstName</label>
            <input type="text" id="" name="firstName" class="asd"/>
            <input id="btn" type="submit" name="submit" value="Register" class="mainbox">
            <label for="">Already have an account?</label>
            <a href="/" class="mainbox">Login</a>
        </form>	
    </div>
</div>


<%- include("./partials/footer") %>